/*=============================================
=                   Header                    =
=============================================*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
        display: none;

        @include pad() {
            display: block;
        }
    }

    h1 {
        margin: 30px 0px;

        a {
            display: block;
            width: 224px;

            @include pad() {
                width: 176px;
            }

            @include mobile() {
                width: 128px;
            }
        }
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;

            a {
                margin: 0px 30px;
                color: $primary;
                font-size: $font-size-sm;
                font-weight: $font-weight-bold;

                &:hover {
                    opacity: 0.6;
                }
            }

            @include pad() {
                display: none;
            }
        }

        img {
            margin-left: 49px;

            &:hover {
                opacity: 0.6;
            }

            @include pad() {
                margin-left: 0px;
            }
        }
    }
}

/*=============================================
=                   Footer                    =
=============================================*/

footer {
    font-family: $font-family-footer;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 30px 80px;

        @include pad() {
            flex-direction: column;
            padding: 30px 30px;
        }
    }

}

.subscribe {
    background-color: $primary;

    .container {
        align-items: center;
    }

    .text {
        display: flex;
        align-items: center;

        p {
            margin-left: 20px;
            color: $secondary;
            font-size: $font-size-lg;
            font-weight: $font-weight-light;
        }

        @include pad() {
            margin-bottom: 30px;
        }
    }

    .email {
        width: calc(380 / 780 * 100%);
        display: flex;
        align-items: center;
        background-color: $secondary;

        img {
            padding: 16px 20px;
        }

        input {
            width: calc(100% - 128px);
            height: 56px;
        }

        a {
            background-color: $warning;
        }

        @include pad() {
            width: 315px;
        }
    }
}

.footer {
    background-color: $secondary;

    p {
        color: $primary;
        font-size: $font-size-sm;
    }

    .footerLeft {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .media {
            display: flex;
            margin-top: 30px;

            a {
                margin-right: 8px;
            }
        }

        @include pad() {

            >img {
                margin-top: 8px;
                margin-bottom: 40px;
            }
        }
    }

    .footerRight {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        p {
            margin-top: 48px;
            font-family: "Times";
        }

        @include pad() {
            align-items: flex-start;

            img {
                display: none;
            }

            p {
                margin-top: 24px;
            }
        }
    }
}