/*=============================================
=                   Product                   =
=============================================*/

section {
    display: flex;
    padding: 60px 0;

    @include pad() {
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }

    @include mobile() {
        padding-top: 0;
    }
}

aside {
    width: 300px;
    margin-bottom: 30px;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;

    @include pad() {
        width: 100%;
    }

    a {
        display: block;
    }
}

.productList {
    max-width: 640px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    @include pad() {
        width: 100%;
        margin-left: -10px;
        margin-bottom: 0;
    }

    @include mobile() {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }

    li {
        width: calc(100%/2 - 20px);
        margin-left: 20px;
        margin-bottom: 20px;

        @include pad() {
            margin-bottom: 30px;
        }

        @include mobile() {
            width: 315px;
            margin-left: 0;

            &.d-sm-none {
                display: none;
            }
        }

        >a {
            display: block;
            font-size: $font-size-lg;
            font-weight: $font-weight-bold;
        }
    }

    .productImg {
        position: relative;

        p {
            width: 36px;
            padding: 10px;
            position: absolute;
            left: 20px;
            font-size: $font-size-sm;
            font-weight: $font-weight-bold;
            color: $secondary;
            background-color: $primary;
        }

        a {
            position: absolute;
            top: 19px;
            right: 22px;

            img:hover {
                opacity: 0.6;
            }
        }
    }

    .productInfo {
        display: flex;
        text-align: center;
        font-size: $font-size-base;
        color: $primary;

        * {
            padding: 14px 0;
            border: .8px solid $secondary;
        }

        h3 {
            width: calc(176 / 300 * 100%);
            font-weight: $font-weight-light;
        }

        p {
            width: calc(124 / 300 * 100%);
            font-weight: $font-weight-bold;
        }
    }

}

.page {
    display: flex;
    justify-content: flex-end;

    @include pad() {
        justify-content: center;
    }

    a {
        width: 60px;
        height: 60px;
        display: block;
        font-size: $font-size-base;
        font-weight: $font-weight-light;

        &.btn-primary {
            font-weight: $font-weight-bold;
        }

    }

    ul {
        display: flex;
    }

    img {
        margin: 2px 18px;
    }
}