*,
*::after,
*::before {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    font-family: PingFangTC-Medium, sans-serif;
    line-height: 1.25;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.container {
    max-width: 940px;
    margin: 16px auto;
}

.text-white {
    color: white;
}

.text-primary {
    color: #3F5D45;
}

.bg-primary {
    background: #3F5D45;
}

.bg-secondary {
    background: #EAF0ED;
}

.navbar {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

.option {
    width: 216px;
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}

.option a {
    margin: 0px;
    font-size: 16px;
}

.cart {
    width: 24px;
    height: 24px;
}

.content {
    margin-top: 64px;
    display: flex;
}

.sidebar {
    margin: 0px;
    padding-left: 0px;
}

.sidebar li {
    width: 300px;
    margin: -1px 0px;
    padding: 16px 0px;
    list-style: none;
    font-size: 24px;
    border: 1px solid #EAF0ED;
}

.productList {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: calc(100% / 2 - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
}

.productImg {
    position: relative;
}

.product img {
    margin: 0px;
}

.special {
    width: 36px;
    margin: 0px;
    padding: 8px;
    position: absolute;
    top: 0px;
    left: 16px;
    font-size: 16px;
}

.favorite {
    width: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.productInfo {
    margin: -1px 0px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border: 1px solid #EAF0ED;
}

.productName {
    margin: 0px;
    padding: 16px 32px;
    font-family: PingFangTC-Thin, sans-serif;
}

.price {
    margin: 0px;
    padding: 16px 20px;
    border-left: 1px solid #EAF0ED;
}

.button {
    margin: 0px;
    padding: 16px 0px;
    font-size: 24px;
}

.page {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.page a {
    margin: 0px 0px 0px -1px;
    padding: 16px 24px;
    font-family: PingFangTC-Thin, sans-serif;
    border: 1px solid #EAF0ED;
}

.page .arrow {
    padding: 18px;
    border: 1px solid #EAF0ED;
}